.home{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(to right,rgba($primary-color,0.9), rgba($primary-color,0.4)),
    url(../img/WhatsApp\ Image\ 2022-05-23\ at\ 10.47.57.jpeg) center;
    background-size: cover;

    // & işareti bir üst tagi ifade eder &_name home_name anlamına gelir
    &_name{
        font-size: 5rem;
        padding-top: 1rem;
        margin-bottom: 1rem;
        border-bottom: 2px solid #fff;
        width: 100%;
        text-align: center;

        &--last{
            color: $secondary-color;
            font-weight: 600;
        }
    }
}