@import "navbar", "variables", "slider", "mixin", "extend";


//! Degiskenleri tanimladik

$arkaRengi:rgba(18, 171, 95, 0.512);
$linkBoyutu:19px;
$borderRengi:2px solid rgb(175,17,29);
$buttonRengi:rgb(11, 98, 160);

.container{
    margin:0 auto;
    width: 80%;
    background-color: burlywood;
}



.content{

    .cards{
        display: flex;

        .card1{
          @include kutu(brown, white);  
        }

        .card2{
            @include kutu(#252631, white);
        }

        .card3{
            @include kutu(cadetblue, yellow)
        }

        .card4{
            @include kutu(#247482, #141414);
        }

    }
}

$test:3;
.footer{
    
    @if $test>3 {
        background-color: brown;
    }

    @else if $test<3{
        background-color: greenyellow;
    }

    @else if $test==3{
        background-color: pink;
    }

}

// .socialBoxes{
//     // through yerine to olursa, 6 sayisini dahil etmez.
//     @for $i from 1 through 6 {
//         .social#{$i}{
//             width: 10%;
//             height: 20px;
//             $renk:($i+5)*20;
//             background-color: rgb($renk, $renk, $renk);
//         }
//     }
// }

$temerengi:(
    "pink": rgb(214,131,131),
    "red": rgb(255,5,5),
    "orange": rgb(222,107,13)
);

@each $i, $renk in $temerengi {
    .container{
        &.#{$i}{
            background-color: $renk
        }
    }    
}

$renkler: #004356,#990000,#005500,#456789,#121456,#145e13,#546773;

@for $i from 1 to 7
{
    .social#{$i}{
        background-color: nth($renkler , $i );
    }
}

// .social1{
//     background-color: nth($renkler, 6);
// }



